In [1]:
# importación de librerías
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# para pintar
import pylab as plt
import seaborn as sns

#para que salga el grafico
%matplotlib inline

### Importación ficheros extraidos por descarga (Kaggle): Grupos y Calendario Qatar_22

In [2]:
dfg = pd.read_csv(r'C:\Users\david\Proyectos\QATAR 2022\Datos descargados\Fifa_Worldcup_2022_Groups.csv')

In [3]:
dfc = pd.read_csv(r'C:\Users\david\Proyectos\QATAR 2022\Datos descargados\matchs-schudule.csv', sep=';')

In [4]:
dfg.head()

,Group,Flag_Image,Country_Name,Country_Name_Short
0,A1,https://cloudinary.fifa.com/api/v3/picture/fla...,Qatar,QAT
1,A2,https://cloudinary.fifa.com/api/v3/picture/fla...,Ecuador,ECU
2,A3,https://cloudinary.fifa.com/api/v3/picture/fla...,Senegal,SEN
3,A4,https://cloudinary.fifa.com/api/v3/picture/fla...,Netherlands,NED
4,B1,https://cloudinary.fifa.com/api/v3/picture/fla...,England,ENG

In [5]:
dfc.head()

   match        date country1      coutry2          phase
0      1  21/11/2022    Qatar      Ecuador  group matches
1      2  21/11/2022  Senegal  Netherlands  group matches
2      3  21/11/2022  England         Iran  group matches
3      4  21/11/2022      USA        Wales  group matches
4      5  22/11/2022   France    Australia  group matches

In [6]:
dfg.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Group               32 non-null     object
 1   Flag_Image          32 non-null     object
 2   Country_Name        32 non-null     object
 3   Country_Name_Short  32 non-null     object
dtypes: object(4)
memory usage: 10.2 KB

In [7]:
lst_equipos = dfg.Country_Name

In [8]:
dfg.head()

,Group,Flag_Image,Country_Name,Country_Name_Short
0,A1,https://cloudinary.fifa.com/api/v3/picture/fla...,Qatar,QAT
1,A2,https://cloudinary.fifa.com/api/v3/picture/fla...,Ecuador,ECU
2,A3,https://cloudinary.fifa.com/api/v3/picture/fla...,Senegal,SEN
3,A4,https://cloudinary.fifa.com/api/v3/picture/fla...,Netherlands,NED
4,B1,https://cloudinary.fifa.com/api/v3/picture/fla...,England,ENG

In [9]:
dfg = dfg[['Group', 'Country_Name', 'Country_Name_Short','Flag_Image']]
dfg.head()

,Group,Country_Name,Country_Name_Short,Flag_Image
0,A1,Qatar,QAT,https://cloudinary.fifa.com/api/v3/picture/fla...
1,A2,Ecuador,ECU,https://cloudinary.fifa.com/api/v3/picture/fla...
2,A3,Senegal,SEN,https://cloudinary.fifa.com/api/v3/picture/fla...
3,A4,Netherlands,NED,https://cloudinary.fifa.com/api/v3/picture/fla...
4,B1,England,ENG,https://cloudinary.fifa.com/api/v3/picture/fla...

In [10]:
dfg[['Played', 'Won', 'Drawn', 'Lost', 'GF', 'GA', 'GD', 'Points']] = 0

In [11]:
dfg.head()

,Group,Country_Name,Country_Name_Short,Flag_Image,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,A1,Qatar,QAT,https://cloudinary.fifa.com/api/v3/picture/fla...,0,0,0,0,0,0,0,0
1,A2,Ecuador,ECU,https://cloudinary.fifa.com/api/v3/picture/fla...,0,0,0,0,0,0,0,0
2,A3,Senegal,SEN,https://cloudinary.fifa.com/api/v3/picture/fla...,0,0,0,0,0,0,0,0
3,A4,Netherlands,NED,https://cloudinary.fifa.com/api/v3/picture/fla...,0,0,0,0,0,0,0,0
4,B1,England,ENG,https://cloudinary.fifa.com/api/v3/picture/fla...,0,0,0,0,0,0,0,0

In [12]:
dfc.head()

   match        date country1      coutry2          phase
0      1  21/11/2022    Qatar      Ecuador  group matches
1      2  21/11/2022  Senegal  Netherlands  group matches
2      3  21/11/2022  England         Iran  group matches
3      4  21/11/2022      USA        Wales  group matches
4      5  22/11/2022   France    Australia  group matches

In [13]:
dfc.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   match     64 non-null     int64
 1   date      64 non-null     object
 2   country1  64 non-null     object
 3   coutry2   64 non-null     object
 4   phase     64 non-null     object
dtypes: int64(1), object(4)
memory usage: 17.0 KB

In [14]:
dfc.date.unique()

array(['21/11/2022', '22/11/2022', '23/11/2022', '24/11/2022',
       '25/11/2022', '26/11/2022', '27/11/2022', '28/11/2022',
       '29/11/2022', '30/11/2022', '01/12/2022', '02/12/2022',
       '03/12/2022', '04/12/2022', '05/12/2022', '06/12/2022',
       '09/12/2022', '10/12/2022', '13/12/2022', '14/12/2022',
       '17/12/2022', '18/12/2022'], dtype=object)

In [15]:
dfc.date[0] = '20/11/2022'

In [16]:
dfc

    match        date      country1       coutry2           phase
0       1  20/11/2022         Qatar       Ecuador   group matches
1       2  21/11/2022       Senegal   Netherlands   group matches
2       3  21/11/2022       England          Iran   group matches
3       4  21/11/2022           USA         Wales   group matches
4       5  22/11/2022        France     Australia   group matches
5       6  22/11/2022       Denmark       Tunisia   group matches
6       7  22/11/2022        Mexico        Poland   group matches
7       8  22/11/2022     Argentina  Saudi Arabia   group matches
8       9  23/11/2022       Belgium        Canada   group matches
9      10  23/11/2022         Spain    Costa Rica   group matches
10     11  23/11/2022       Germany         Japan   group matches
11     12  23/11/2022       Morocco       Croatia   group matches
12     13  24/11/2022   Switzerland      Cameroon   group matches
13     14  24/11/2022       Uruguay   South Korea   group matches
14     15  24/11/2022      Portugal         Ghana   group matches
15     16  24/11/2022        Brazil        Serbia   group matches
16     17  25/11/2022         Wales          Iran   group matches
17     18  25/11/2022         Qatar       Senegal   group matches
18     19  25/11/2022   Netherlands       Ecuador   group matches
19     20  25/11/2022       England           USA   group matches
20     21  26/11/2022       Tunisia     Australia   group matches
21     22  26/11/2022        Poland  Saudi Arabia   group matches
22     23  26/11/2022        France       Denmark   group matches
23     24  26/11/2022     Argentina        Mexico   group matches
24     25  27/11/2022         Japan    Costa Rica   group matches
25     26  27/11/2022       Belgium       Morocco   group matches
26     27  27/11/2022       Croatia        Canada   group matches
27     28  27/11/2022         Spain       Germany   group matches
28     29  28/11/2022      Cameroon        Serbia   group matches
29     30  28/11/2022   South Korea         Ghana   group matches
30     31  28/11/2022        Brazil   Switzerland   group matches
31     32  28/11/2022      Portugal       Uruguay   group matches
32     33  29/11/2022         Wales       England   group matches
33     34  29/11/2022          Iran           USA   group matches
34     35  29/11/2022       Ecuador       Senegal   group matches
35     36  29/11/2022   Netherlands         Qatar   group matches
36     37  30/11/2022     Australia       Denmark   group matches
37     38  30/11/2022       Tunisia        France   group matches
38     39  30/11/2022        Poland     Argentina   group matches
39     40  30/11/2022  Saudi Arabia        Mexico   group matches
40     41  01/12/2022       Croatia       Belgium   group matches
41     42  01/12/2022        Canada       Morocco   group matches
42     43  01/12/2022         Japan         Spain   group matches
43     44  01/12/2022    Costa Rica       Germany   group matches
44     45  02/12/2022         Ghana       Uruguay   group matches
45     46  02/12/2022   South Korea      Portugal   group matches
46     47  02/12/2022        Serbia   Switzerland   group matches
47     48  02/12/2022      Cameroon        Brazil   group matches
48     49  03/12/2022            1A            2B        round 16
49     50  03/12/2022            1C            2D        round 16
50     51  04/12/2022            1B            2A        round 16
51     52  04/12/2022            1D            2C        round 16
52     53  05/12/2022            1E            2F        round 16
53     54  05/12/2022            1G            2H        round 16
54     55  06/12/2022            1F            2E        round 16
55     56  06/12/2022            1H            2G        round 16
56     57  09/12/2022           W49           W50  quarter-finals
57     58  09/12/2022           W53           W54  quarter-finals
58     59  10/12/2022           W51           W52  quarter-finals
59     60  10/12/2022           W55           W56  quarter-finals
60     61  13/12/2022           W57           W58     semi-finals
61     62  14/12/2022           W59           W60     semi-finals
62     63  17/12/2022           L61           L62     third place
63     64  18/12/2022           W61           W62           final

In [17]:
df_t50 = pd.read_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\tabla_top50.csv')

In [18]:
df_t50.head()

   RK       Team      PTS            +/-
0   1     Brazil  1841.30   1837.56 3.74
1   2    Belgium  1816.71  1821.92 -5.21
2   3  Argentina  1773.88   1770.65 3.23
3   4     France  1759.78  1764.85 -5.07
4   5    England  1728.47  1737.46 -8.99

In [19]:
df_t50.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RK      50 non-null     int64
 1   Team    50 non-null     object
 2   PTS     50 non-null     float64
 3   +/-     50 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 7.5 KB

In [20]:
dfg.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Group               32 non-null     object
 1   Country_Name        32 non-null     object
 2   Country_Name_Short  32 non-null     object
 3   Flag_Image          32 non-null     object
 4   Played              32 non-null     int64
 5   Won                 32 non-null     int64
 6   Drawn               32 non-null     int64
 7   Lost                32 non-null     int64
 8   GF                  32 non-null     int64
 9   GA                  32 non-null     int64
 10  GD                  32 non-null     int64
 11  Points              32 non-null     int64
dtypes: int64(8), object(4)
memory usage: 12.2 KB

In [21]:
x = []
y = []

for i in dfg.Country_Name:
    for j in df_t50.Team:
        e=0
        if i == j:
            x.append(i)
            e+=1
            break
    if e==0:
        y.append(i)

In [22]:
y

['Saudi Arabia', 'Ghana']

In [23]:
df_t100 = pd.read_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\tabla_top50_100.csv')

In [24]:
df_t50.head()

   RK       Team      PTS            +/-
0   1     Brazil  1841.30   1837.56 3.74
1   2    Belgium  1816.71  1821.92 -5.21
2   3  Argentina  1773.88   1770.65 3.23
3   4     France  1759.78  1764.85 -5.07
4   5    England  1728.47  1737.46 -8.99

In [25]:
df_t100 = df_t100[:20]

In [26]:
dfrf = pd.concat([df_t50, df_t100], ignore_index=True)

In [27]:
dfrf.drop(['+/-'], axis=1, inplace=True)

In [28]:
dfrf.head()

   RK       Team      PTS
0   1     Brazil  1841.30
1   2    Belgium  1816.71
2   3  Argentina  1773.88
3   4     France  1759.78
4   5    England  1728.47

In [29]:
dfrf['Qatar_22'] = 'no'

In [30]:
dfrf

    RK                    Team      PTS Qatar_22
0    1                  Brazil  1841.30       no
1    2                 Belgium  1816.71       no
2    3               Argentina  1773.88       no
3    4                  France  1759.78       no
4    5                 England  1728.47       no
5    6                   Italy  1726.14       no
6    7                   Spain  1715.22       no
7    8             Netherlands  1694.51       no
8    9                Portugal  1676.56       no
9   10                 Denmark  1666.57       no
10  11                 Germany  1650.21       no
11  12                 Croatia  1645.64       no
12  13                  Mexico  1644.89       no
13  14                 Uruguay  1638.71       no
14  15             Switzerland  1635.92       no
15  16                     USA  1627.48       no
16  17                Colombia  1611.04       no
17  18                 Senegal  1584.38       no
18  19                   Wales  1569.82       no
19  20                 IR Iran  1564.61       no
20  21                  Serbia  1563.62       no
21  22                 Morocco  1563.50       no
22  23                    Peru  1561.01       no
23  24                   Japan  1559.54       no
24  25                  Sweden  1553.33       no
25  26                  Poland  1548.59       no
26  27                 Ukraine  1536.99       no
27  28          Korea Republic  1530.30       no
28  29                   Chile  1509.61       no
29  30                 Tunisia  1507.54       no
30  31              Costa Rica  1503.59       no
31  32                 Nigeria  1498.47       no
32  33                  Russia  1496.11       no
33  34                 Austria  1492.95       no
34  35                 Czechia  1492.21       no
35  36                 Hungary  1492.20       no
36  37                 Algeria  1489.10       no
37  38               Australia  1488.72       no
38  39                   Egypt  1486.44       no
39  40                Scotland  1479.53       no
40  41                  Canada  1475.00       no
41  42                  Norway  1473.04       no
42  43                Cameroon  1471.44       no
43  44                 Ecuador  1464.39       no
44  45                 Türkiye  1460.14       no
45  46                    Mali  1448.85       no
46  47                Paraguay  1448.77       no
47  48           Côte d'Ivoire  1443.06       no
48  49     Republic of Ireland  1440.19       no
49  50                   Qatar  1439.89       no
50  51            Saudi Arabia  1437.78       no
51  52                  Greece  1437.60       no
52  53                 Romania  1434.68       no
53  54            Burkina Faso  1432.25       no
54  55                Slovakia  1425.59       no
55  56                 Finland  1405.60       no
56  57               Venezuela  1404.37       no
57  58  Bosnia and Herzegovina  1403.51       no
58  59        Northern Ireland  1396.55       no
59  60                  Panama  1393.28       no
60  61                   Ghana  1393.00       no
61  62                  Iceand  1384.41       no
62  63                Slovenia  1384.04       no
63  64                 Jamaica  1378.86       no
64  65         North Macedonia  1358.51       no
65  66                 Albania  1354.11       no
66  67            South Africa  1349.59       no
67  68                    Iraq  1343.01       no
68  69              Montenegro  1341.03       no
69  70    United Arab Emirates  1337.57       no

In [31]:
def qat_part(row):
    
    if row in list(dfg.Country_Name):
        dfrf.Qatar_22[dfrf.Team==row]='yes'
    else:
        dfrf.Qatar_22[dfrf.Team==row]='no'

In [32]:
dfrf.Team.apply(qat_part).head()

0    None
1    None
2    None
3    None
4    None
Name: Team, dtype: object

In [33]:
dfrf.head()

   RK       Team      PTS Qatar_22
0   1     Brazil  1841.30      yes
1   2    Belgium  1816.71      yes
2   3  Argentina  1773.88      yes
3   4     France  1759.78      yes
4   5    England  1728.47      yes

In [34]:
df_link1 = pd.read_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\link_pic_top50.csv')

In [35]:
df_link2 = pd.read_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\link_pic_top50_70.csv')

In [36]:
df_link2 = df_link2[:20]

In [37]:
dfl = pd.concat([df_link1, df_link2], ignore_index=True)
dfl.head()

                                                   0
0  https://cloudinary.fifa.com/api/v1/picture/fla...
1  https://cloudinary.fifa.com/api/v1/picture/fla...
2  https://cloudinary.fifa.com/api/v1/picture/fla...
3  https://cloudinary.fifa.com/api/v1/picture/fla...
4  https://cloudinary.fifa.com/api/v1/picture/fla...

In [38]:
list(dfl['0'])

['https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BEL?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ARG?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/FRA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ITA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ESP?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/NED?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/POR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/DEN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/GER?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CRO?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/MEX?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/URU?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SUI?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/USA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/COL?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SEN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/WAL?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/IRN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SRB?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/MAR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/PER?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/JPN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SWE?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/POL?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/UKR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/KOR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CHI?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/TUN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CRC?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/NGA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/RUS?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/AUT?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CZE?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/HUN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ALG?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/AUS?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/EGY?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SCO?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CAN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/NOR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CMR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ECU?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/TUR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/MLI?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/PAR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CIV?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/IRL?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/QAT?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/KSA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/GRE?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ROU?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BFA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SVK?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/FIN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/VEN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BIH?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/NIR?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/PAN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/GHA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ISL?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SVN?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/JAM?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/MKD?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ALB?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/RSA?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/IRQ?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/MNE?tx=c_fill,g_auto,q_auto,w_70,h_46',
 'https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/UAE?tx=c_fill,g_auto,q_auto,w_70,h_46']

In [39]:
from IPython.core.display import display,HTML

# your images
images1 = list(dfl['0'])

dfrf['flag'] = images1


# convert your links to html tags 
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'

pd.set_option('display.max_colwidth', None)

image_cols = ['flag']  #<- define which columns will be used to convert to html

# Create the dictionariy to be passed as formatters
format_dict = {}
for image_col in image_cols:
    format_dict[image_col] = path_to_image_html


display(HTML(dfrf.to_html(escape=False ,formatters=format_dict)))

In [40]:
dfrf = dfrf[['RK', 'Team', 'flag', 'PTS','Qatar_22']]
dfrf.head()

,RK,Team,flag,PTS,Qatar_22
0,1,Brazil,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto,w_70,h_46",1841.30,yes
1,2,Belgium,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BEL?tx=c_fill,g_auto,q_auto,w_70,h_46",1816.71,yes
2,3,Argentina,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ARG?tx=c_fill,g_auto,q_auto,w_70,h_46",1773.88,yes
3,4,France,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/FRA?tx=c_fill,g_auto,q_auto,w_70,h_46",1759.78,yes
4,5,England,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70,h_46",1728.47,yes

In [41]:
display(HTML(dfrf.to_html(escape=False ,formatters=format_dict)))

In [42]:
dfg.head()

,Group,Country_Name,Country_Name_Short,Flag_Image,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,A1,Qatar,QAT,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/QAT?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
1,A2,Ecuador,ECU,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ECU?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
2,A3,Senegal,SEN,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/SEN?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
3,A4,Netherlands,NED,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/NED?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
4,B1,England,ENG,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0

In [43]:
dfg = dfg.rename(columns={'Flag_Image':'Flag',
                                   'Country_Name':'Team', 'Country_Name_Short':'Team_short'})

In [44]:
from IPython.core.display import display,HTML

# your images
images1 = list(dfg.Flag)

dfg['Flag'] = images1


# convert your links to html tags 
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'

pd.set_option('display.max_colwidth', None)

image_cols = ['Flag']  #<- define which columns will be used to convert to html

# Create the dictionariy to be passed as formatters
format_dict = {}
for image_col in image_cols:
    format_dict[image_col] = path_to_image_html


display(HTML(dfg.to_html(escape=False ,formatters=format_dict)))

In [45]:
#display(HTML(dfg.to_html(escape=False ,formatters=format_dict)))

In [46]:
dfg.head()

,Group,Team,Team_short,Flag,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,A1,Qatar,QAT,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/QAT?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
1,A2,Ecuador,ECU,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ECU?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
2,A3,Senegal,SEN,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/SEN?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
3,A4,Netherlands,NED,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/NED?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
4,B1,England,ENG,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0

In [47]:
dfc.head()

   match        date country1      coutry2          phase
0      1  20/11/2022    Qatar      Ecuador  group matches
1      2  21/11/2022  Senegal  Netherlands  group matches
2      3  21/11/2022  England         Iran  group matches
3      4  21/11/2022      USA        Wales  group matches
4      5  22/11/2022   France    Australia  group matches

In [48]:
# aquí importaremos los datos de clima extraidos diarios
dfclima0 = pd.read_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\ambee_1111_to_1112.csv')

In [49]:
dfclima0

,date,icon,temperature,maxTemperature,minTemperature,apparentTemperature,maxApparenttemperature,minApparenttemperature,dewPoint,humidity,pressure,windSpeed,maxWindspeed,minWindspeed,windGust,cloudCover,ozone,windBearing
0,2022-11-11,clear,29.060556,34.277778,24.722222,31.100556,35.944444,25.500000,70.300,0.656,1017.126,7.100,11.00,5.15,8.524,0.186,256.40,112.826
1,2022-11-12,clear,24.198889,24.777778,23.611111,24.776111,25.388889,24.222222,69.115,0.807,1017.000,2.933,4.53,2.10,3.507,0.095,256.05,178.000

In [50]:
# importar el histórico

In [51]:
dfclima = dfclima0 # aqui importaremos el csv con el histórico y añadimos los días extraidos

In [52]:
# aquí exportamos el histórico actualizado
# dfclima.to_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\clima_Doha_acum.csv', index=False)

In [53]:
df_st = pd.read_excel(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\ficheros_de_trabajo\estadios.xlsx')

In [54]:
df_st

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Stadium_id,Name,Location,Capacity,Latitud,Longitud
1,1,Al Bayt Stadium,"Al Khor City, 35km north of central Doha",60000,25.652581,51.488088
2,2,Lusail Stadium,"Lusail City, 20km north of central Doha",80000,25.421025,51.490687
3,3,Ahmad Bin Ali Stadium,"Umm Al Afaei, 20km west of central Doha",40000,25.329913,51.342833
4,4,Al Janoub Stadium,"Al Wakrah, 22km east of central Doha",40000,25.160023,51.575051
5,5,Al Thumama Stadium,"Al Thumama, 12km south of central Doha",40000,25.235421,51.5327
6,6,Education City Stadium,"Al Rayyan, 13km north-west of central Doha",40000,25.310963,51.424926
7,7,Khalifa International Stadium,"Aspire, 5km west of central Doha",40000,25.263747,51.448264
8,8,Stadium 974,"Ras Abu Aboud, 10km east of central Doha",40000,25.289186,51.566752

In [55]:
df_st = df_st.rename(columns={'Unnamed: 0':'stadium_id', 'Unnamed: 1' : 'Name', 'Unnamed: 2' : 'Location', 'Unnamed: 3': 'Capacity', 'Unnamed: 4': 'Latitud', 'Unnamed: 5' : 'Longitud'})

In [56]:
df_st = df_st[1:]
df_st

,stadium_id,Name,Location,Capacity,Latitud,Longitud
1,1,Al Bayt Stadium,"Al Khor City, 35km north of central Doha",60000,25.652581,51.488088
2,2,Lusail Stadium,"Lusail City, 20km north of central Doha",80000,25.421025,51.490687
3,3,Ahmad Bin Ali Stadium,"Umm Al Afaei, 20km west of central Doha",40000,25.329913,51.342833
4,4,Al Janoub Stadium,"Al Wakrah, 22km east of central Doha",40000,25.160023,51.575051
5,5,Al Thumama Stadium,"Al Thumama, 12km south of central Doha",40000,25.235421,51.5327
6,6,Education City Stadium,"Al Rayyan, 13km north-west of central Doha",40000,25.310963,51.424926
7,7,Khalifa International Stadium,"Aspire, 5km west of central Doha",40000,25.263747,51.448264
8,8,Stadium 974,"Ras Abu Aboud, 10km east of central Doha",40000,25.289186,51.566752

In [57]:
df_st.reset_index(inplace=True, drop=True)
df_st

,stadium_id,Name,Location,Capacity,Latitud,Longitud
0,1,Al Bayt Stadium,"Al Khor City, 35km north of central Doha",60000,25.652581,51.488088
1,2,Lusail Stadium,"Lusail City, 20km north of central Doha",80000,25.421025,51.490687
2,3,Ahmad Bin Ali Stadium,"Umm Al Afaei, 20km west of central Doha",40000,25.329913,51.342833
3,4,Al Janoub Stadium,"Al Wakrah, 22km east of central Doha",40000,25.160023,51.575051
4,5,Al Thumama Stadium,"Al Thumama, 12km south of central Doha",40000,25.235421,51.5327
5,6,Education City Stadium,"Al Rayyan, 13km north-west of central Doha",40000,25.310963,51.424926
6,7,Khalifa International Stadium,"Aspire, 5km west of central Doha",40000,25.263747,51.448264
7,8,Stadium 974,"Ras Abu Aboud, 10km east of central Doha",40000,25.289186,51.566752

In [58]:
df_st

,stadium_id,Name,Location,Capacity,Latitud,Longitud
0,1,Al Bayt Stadium,"Al Khor City, 35km north of central Doha",60000,25.652581,51.488088
1,2,Lusail Stadium,"Lusail City, 20km north of central Doha",80000,25.421025,51.490687
2,3,Ahmad Bin Ali Stadium,"Umm Al Afaei, 20km west of central Doha",40000,25.329913,51.342833
3,4,Al Janoub Stadium,"Al Wakrah, 22km east of central Doha",40000,25.160023,51.575051
4,5,Al Thumama Stadium,"Al Thumama, 12km south of central Doha",40000,25.235421,51.5327
5,6,Education City Stadium,"Al Rayyan, 13km north-west of central Doha",40000,25.310963,51.424926
6,7,Khalifa International Stadium,"Aspire, 5km west of central Doha",40000,25.263747,51.448264
7,8,Stadium 974,"Ras Abu Aboud, 10km east of central Doha",40000,25.289186,51.566752

In [59]:
def limp_ncol(x): return x.strip().lower()

In [60]:
lst = []

for col in dfg.columns: 
    lst.append(limp_ncol(col))
    
lst

['group',
 'team',
 'team_short',
 'flag',
 'played',
 'won',
 'drawn',
 'lost',
 'gf',
 'ga',
 'gd',
 'points']

In [61]:
dfg.columns = lst

In [62]:
dfg.columns

Index(['group', 'team', 'team_short', 'flag', 'played', 'won', 'drawn', 'lost',
       'gf', 'ga', 'gd', 'points'],
      dtype='object')

In [63]:
dfg.head()

,group,team,team_short,flag,played,won,drawn,lost,gf,ga,gd,points
0,A1,Qatar,QAT,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/QAT?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
1,A2,Ecuador,ECU,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ECU?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
2,A3,Senegal,SEN,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/SEN?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
3,A4,Netherlands,NED,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/NED?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0
4,B1,England,ENG,"https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto",0,0,0,0,0,0,0,0

In [64]:
dfc.head()

   match        date country1      coutry2          phase
0      1  20/11/2022    Qatar      Ecuador  group matches
1      2  21/11/2022  Senegal  Netherlands  group matches
2      3  21/11/2022  England         Iran  group matches
3      4  21/11/2022      USA        Wales  group matches
4      5  22/11/2022   France    Australia  group matches

In [65]:
dfc = dfc.rename(columns={'country1':'team_1', 'coutry2' : 'team_2'})
dfc.head()

   match        date   team_1       team_2          phase
0      1  20/11/2022    Qatar      Ecuador  group matches
1      2  21/11/2022  Senegal  Netherlands  group matches
2      3  21/11/2022  England         Iran  group matches
3      4  21/11/2022      USA        Wales  group matches
4      5  22/11/2022   France    Australia  group matches

In [66]:
dfrf.head()

,RK,Team,flag,PTS,Qatar_22
0,1,Brazil,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto,w_70,h_46",1841.30,yes
1,2,Belgium,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BEL?tx=c_fill,g_auto,q_auto,w_70,h_46",1816.71,yes
2,3,Argentina,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ARG?tx=c_fill,g_auto,q_auto,w_70,h_46",1773.88,yes
3,4,France,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/FRA?tx=c_fill,g_auto,q_auto,w_70,h_46",1759.78,yes
4,5,England,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70,h_46",1728.47,yes

In [67]:
lst1 = []

for col in dfrf.columns: 
    lst1.append(limp_ncol(col))
    
lst1

['rk', 'team', 'flag', 'pts', 'qatar_22']

In [68]:
dfrf.columns = lst1
dfrf.head()

,rk,team,flag,pts,qatar_22
0,1,Brazil,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto,w_70,h_46",1841.30,yes
1,2,Belgium,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BEL?tx=c_fill,g_auto,q_auto,w_70,h_46",1816.71,yes
2,3,Argentina,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ARG?tx=c_fill,g_auto,q_auto,w_70,h_46",1773.88,yes
3,4,France,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/FRA?tx=c_fill,g_auto,q_auto,w_70,h_46",1759.78,yes
4,5,England,"https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70,h_46",1728.47,yes

In [69]:
df_st

,stadium_id,Name,Location,Capacity,Latitud,Longitud
0,1,Al Bayt Stadium,"Al Khor City, 35km north of central Doha",60000,25.652581,51.488088
1,2,Lusail Stadium,"Lusail City, 20km north of central Doha",80000,25.421025,51.490687
2,3,Ahmad Bin Ali Stadium,"Umm Al Afaei, 20km west of central Doha",40000,25.329913,51.342833
3,4,Al Janoub Stadium,"Al Wakrah, 22km east of central Doha",40000,25.160023,51.575051
4,5,Al Thumama Stadium,"Al Thumama, 12km south of central Doha",40000,25.235421,51.5327
5,6,Education City Stadium,"Al Rayyan, 13km north-west of central Doha",40000,25.310963,51.424926
6,7,Khalifa International Stadium,"Aspire, 5km west of central Doha",40000,25.263747,51.448264
7,8,Stadium 974,"Ras Abu Aboud, 10km east of central Doha",40000,25.289186,51.566752

In [70]:
lst2 = []

for col in df_st.columns: 
    lst2.append(limp_ncol(col))
    
lst2

['stadium_id', 'name', 'location', 'capacity', 'latitud', 'longitud']

In [71]:
df_st.columns = lst2
df_st

,stadium_id,name,location,capacity,latitud,longitud
0,1,Al Bayt Stadium,"Al Khor City, 35km north of central Doha",60000,25.652581,51.488088
1,2,Lusail Stadium,"Lusail City, 20km north of central Doha",80000,25.421025,51.490687
2,3,Ahmad Bin Ali Stadium,"Umm Al Afaei, 20km west of central Doha",40000,25.329913,51.342833
3,4,Al Janoub Stadium,"Al Wakrah, 22km east of central Doha",40000,25.160023,51.575051
4,5,Al Thumama Stadium,"Al Thumama, 12km south of central Doha",40000,25.235421,51.5327
5,6,Education City Stadium,"Al Rayyan, 13km north-west of central Doha",40000,25.310963,51.424926
6,7,Khalifa International Stadium,"Aspire, 5km west of central Doha",40000,25.263747,51.448264
7,8,Stadium 974,"Ras Abu Aboud, 10km east of central Doha",40000,25.289186,51.566752

In [72]:
dfclima

,date,icon,temperature,maxTemperature,minTemperature,apparentTemperature,maxApparenttemperature,minApparenttemperature,dewPoint,humidity,pressure,windSpeed,maxWindspeed,minWindspeed,windGust,cloudCover,ozone,windBearing
0,2022-11-11,clear,29.060556,34.277778,24.722222,31.100556,35.944444,25.500000,70.300,0.656,1017.126,7.100,11.00,5.15,8.524,0.186,256.40,112.826
1,2022-11-12,clear,24.198889,24.777778,23.611111,24.776111,25.388889,24.222222,69.115,0.807,1017.000,2.933,4.53,2.10,3.507,0.095,256.05,178.000

In [73]:
dfclima = dfclima.rename(columns={'temperature':'temp', 'maxTemperature' : 'temp_max', 'minTemperature' : 'temp_min', 'apparentTemperature': 'temp_app', 'maxApparenttemperature': 'temp_app_max', 'minApparenttemperature' : 'temp_app_min', \
'humidity':'hum', 'windSpeed' : 'wind_speed', 'cloudCover' : 'cloud_cover'})
dfclima

,date,icon,temp,temp_max,temp_min,temp_app,temp_app_max,temp_app_min,dewPoint,hum,pressure,wind_speed,maxWindspeed,minWindspeed,windGust,cloud_cover,ozone,windBearing
0,2022-11-11,clear,29.060556,34.277778,24.722222,31.100556,35.944444,25.500000,70.300,0.656,1017.126,7.100,11.00,5.15,8.524,0.186,256.40,112.826
1,2022-11-12,clear,24.198889,24.777778,23.611111,24.776111,25.388889,24.222222,69.115,0.807,1017.000,2.933,4.53,2.10,3.507,0.095,256.05,178.000

In [74]:
dfclima = dfclima.drop(['dewPoint', 'maxWindspeed', 'minWindspeed',  'windGust', 'ozone', 'windBearing' ], axis=1)

In [75]:
dfclima

,date,icon,temp,temp_max,temp_min,temp_app,temp_app_max,temp_app_min,hum,pressure,wind_speed,cloud_cover
0,2022-11-11,clear,29.060556,34.277778,24.722222,31.100556,35.944444,25.500000,0.656,1017.126,7.100,0.186
1,2022-11-12,clear,24.198889,24.777778,23.611111,24.776111,25.388889,24.222222,0.807,1017.000,2.933,0.095

In [76]:
#dfg.to_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\carga_sql\groups.csv', index=False)
#dfc.to_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\carga_sql\calendar.csv', index=False)
#dfrf.to_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\carga_sql\fifa_ranking.csv', index=False)
#df_st.to_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\carga_sql\stadiums.csv', index=False)
#dfclima.to_csv(r'C:\Users\david\Proyectos\Local\-w4-ETL-Project\carga_sql\clima_Doha_acum.csv', index=False)